streamlit 
openai
mem0ai
multion
transformers
torch
supabase
python-dotenv
tzlocal
pytz
google-api-python-client
fastapi
uvicorn
requests
python-telegram-bot
nest-asyncio
pydub
google-auth-httplib2
google-auth-oauthlib
google-search-results